//-
 File Name: footer.pug
 Author's name:  Abhijeet Rana
 Website name: Personal Portfolio
 File description: In this file, the footer section is covered where all the extra details about the author and website are given.
//
footer(style="border-top: 3px solid #DC3545 ; background-color: #17202A ; color: white")
    p Abhijeet Rana(200419192) My Portfolio Application
    p Javascript Frameworks COMP2068
    <!--script tags coding directly taken from bootstarp -->
       script(src="~/lib/jquery/dist/jquery.min.js")
       script(src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js")