//-
 File Name: header.pug
 Author's name:  Abhijeet Rana
 Website name: Personal Portfolio
 File description: This file contains the header section for the layout in which navigation bar's coding is done.
//
head
link(rel="stylesheet" type="text/css" href="/stylesheets/main.css")
<!-- Starting of navbar coding taken from bootstrap -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Personal Portfolio</a>
  <span class="navbar-text">Get to know more about me</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../aboutme">About me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='../contactme'>Contact me</a>
      </li>
    </ul>
    <!-- search button icon -->
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>